body {background-color: #7A63D2;}
h1{color: #DEE551; font-family: Helvetica; font-size: 40px;}
p{color: #DEE551; font-family: Arial; font-size: 14px;}
img{margin-left: 550px;border-color: white; border-width: 5px; border-style: dotted;}
ul{color: #328CEC}
a{color: #328CEC;text-decoration: none;}
a:hover {color: #D194C8;}